<div class="container">
  <div class="col-xs-12">
    <% if @model == "user" %>
    <h2><p>検索結果 '<%= @value %>'</p></h2>
    <table class="table">
        <thead>
            <tr>
                <th></th>
                <th>Name</th>
            </tr>
        </thead>
    <% @datas.each do |user| %>
        <tbody>
            <tr>
                <th>
                    <%= attachment_image_tag(user, :profile_image, :fill, 80, 80, fallback: "no_image.jpg", size:'40x40') %>
                </th>
                <th>
                    <%= user.name %>
                </th>
            </tr>
        </tbody>
    <% end %>
    <% elsif @model == "dog" %>
    <h2>検索結果 '<%= @value %>'</h2>
    <table class="table">
        <thead>
            <tr>
                <th></th>
                <th>name</th>
                <th>caption</th>
            </tr>
        </thead>
        <% @datas.each do |dog| %>
        <tbody>
            <tr>
                <th>
                    <%= attachment_image_tag(dog.user, :profile_image, :fill, 80, 80, fallback: "no_image.jpg", size:'40x40') %>
                </th>
                <th>
                    <%= dog.name %>
                </th>
                <th>
                    <%= dog.caption %>
                </th>
            </tr>
        </tbody>
        <% end %>
    <% end %>
    </table>
  </div>
</div>