<div class="dog-body">
  <%= attachment_image_tag @dog, :image, size: "300x300" %>
  <p>犬種：<%= @dog.name %></p>
  <p>ワンちゃんについて：<%= @dog.caption %></p>
  <p>ユーザーネーム：<%= @dog.user.name %></p>
  <p>投稿日時：<%= @dog.created_at.strftime('%Y/%m/%d') %></p>
  <% if @dog.user == current_user %>
    <%= link_to "編集", edit_dog_path %>
    <%= link_to "削除", dog_path(@dog), method: :delete %>
  <% end %>
</div>
<div id="dog_comments_<%= @dog.id %>">
  <%= render 'dog_comments/dog_comments', dog: @dog %>
</div>

<div class="new-comment">
<%= form_with(model:[@dog, @dog_comment], remote: true) do |f| %>
  <%= f.text_area :comment, rows:'5',placeholder: "コメントをここに" %>
  <%= f.submit "送信する" %>
<% end %>

<div id="favorite-btn_<%= @dog.id %>">
  <%= render 'favorites/favorite' , dog: @dog %>
</div>