<div class="container">
  <div class="row">
    <div class="col-md-5">
      <h2><p>登録者情報</p></h2>
        <table class="table">
          <tbody>
            <tr>
              <td>
                <%= attachment_image_tag @user, :profile_image, format: "jpeg", fallback: "no_image.jpg", size: "80x80" %>
              </td>
              <td>
                ユーザー名：<%= @user.name %>
              </td>
              <td>
              <% if @user.id == current_user.id %>
                <p><%= link_to "プロフィール編集", edit_user_path(@user),class:"btn btn-outline-info" %></p>
              <% end %>
              </td>
              <td>
                <% unless @user.id == current_user.id %>
                  <% if @isRoom == true %>
                    <p class="user-show-room"><a href="/rooms/<%= @roomId %>" class="btn btn-outline-success">チャットへ</a>
                  <% else %>
                    <%= form_for @room do |f| %>
                      <%= fields_for @entry do |e| %>
                        <%= e.hidden_field :user_id, value: @user.id %>
                      <% end %>
                      <%= f.submit "チャットを始める", class:"btn btn-primary btn-lg user-show-chat"%>
                    <% end %>
                  <% end %>
                <% end %>
              </td>
            </tr>
          </tbody>
        </table>
    </div>
  </div>
      <h2><p class="your-submit"><%= @user.name %>の投稿</p></h2>
      <%= render 'dogs/dogs',dogs: @dogs %>
</div>

<%= current_user.dogs.where('created_at > ?', Date.today).count %>
<%= current_user.dogs.where('created_at > ?', Date.new).count %>
<%= current_user.dogs.where('created_at > ?', Date.today).count %>

