<div class="container">
  <div class="row">
    <div class="col-md-5">
      <h2><p>登録者情報</p></h2>
        <table class="table">
          <tbody>
            <tr>
              <td>
                <%= attachment_image_tag @user, :profile_image, format: "jpeg", fallback: "no_image.jpg", size: "80x80" %>
              </td>
              <td>
                ユーザー名：<%= @user.name %>
              </td>
              <td>
              <% if @user.id == current_user.id %>
                <p><%= link_to "プロフィール編集", edit_user_path(@user),class:"btn btn-outline-info" %></p>
              <% end %>
              </td>
            </tr>
          </tbody>
        </table>
    </div>
  </div>
      <h2><p class="your-submit"><%= @user.name %>の投稿</p></h2>
      <%= render 'dogs/dogs',dogs: @dogs %>
</div>
