<h1>登録者情報</h1>
<%= attachment_image_tag @user, :profile_image, format: "jpeg", fallback: "no_image.jpg", size: "40x40" %>
<div class="profile-container">
  <h3 class="profile-name"><%= @user.name %></h3>

  
    <% if @user.id == current_user.id %>
    <p><%= link_to "プロフィール編集", edit_user_path(@user) %></p>
  <% end %>
</div>


<% @dogs.each do |dog| %>
<div>
  <h2>投稿一覧</h2>
  <%= link_to dog_path(@user) do %>
    <%= attachment_image_tag dog, :image, size: "300x300" %>
  <% end %>
  <p>犬種：<%= dog.name %></p>
  <p>ワンちゃんについて：<%= dog.caption %></p>
  <p>ユーザーネーム：<%= dog.user.name %></p>
  <%= attachment_image_tag @user, :profile_image, :fill, 30, 30, fallback: "no_image.jpg"%>
</div>
<% end %>
