<div class="comments">
<p>コメント件数：<%= dog.dog_comments.count %></p>
<% dog.dog_comments.each do |dog_comment| %>
  <p><%= image_tag('no_image.jpg') %></p>
  <%= dog_comment.user.name %>
  <%= dog_comment.created_at.strftime('%Y/%m/%d') %><%= dog_comment.comment %>
  <% if dog_comment.user == current_user %>
  <div class="comment-delete">
    <%= link_to "削除", dog_dog_comment_path(dog_comment.dog, dog_comment), remote: true ,method: :delete %>
  </div>
  <% end %>
<% end %>
</div>