<!DOCTYPE html>
<html>
  <head>
    <title>DogTok</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>


    <link href="https://fonts.googleapis.com/earlyaccess/nicomoji.css" rel="stylesheet">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>

  <body>
  <%= render 'layouts/header' %>
  <%= render 'layouts/flash' %>
  
  
  



  
  
  
       <%= yield %>
  </body>
</html>
